<div class="quiz-container" *ngIf="!quizCompleted">
    <h2>Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}</h2>
    <p>{{ questions[currentQuestionIndex].question }}</p>
    
    <div *ngFor="let option of questions[currentQuestionIndex].options">
      <button 
        [ngClass]="{ selected: selectedOption === option }"
        (click)="selectOption(option)">
        {{ option }}
      </button>
    </div>
  
    <button *ngIf="!quizCompleted" [disabled]="!selectedOption" (click)="nextQuestion()" class="next">
        Next
      </button>
  </div>
  
  <div class="result" *ngIf="quizCompleted">
    <h2>Your Result</h2>
    <p>Your score: {{ score }} / {{ questions.length }}</p>
    <button *ngIf="quizCompleted" (click)="restartQuiz()" class="try-again">
        Try Again
      </button>
  </div>
  